.btn{
	background-color:#083472;
	padding:15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Work sans';
}
.btn:hover{
	background-color: white;
	color:#083472;
	cursor: pointer;
	}